/*v2*/
body {
    background-color: #e9ecef !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Faixa horizontal no topo */
.top-bar {
    width: 100%;
    height: 10px;
    background-color: #28334f;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Menu de Navegação Lateral */
.sidebar {
    width: 250px;
    background-color: #FFFFFF;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    z-index: 999;
}

/* Botão Hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-bottom: 20px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
}

.hamburger span {
    width: 100%;
    height: 3px;
    background-color: #28334f; /* Cor escura para contrastar com o fundo branco */
    transition: all 0.3s ease;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    max-height: 85px;
}

.navbar-nav {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav-item {
    width: 100%;
    margin-bottom: 10px;
}

.nav-link {
    color: #28334f !important;
    transition: color 0.3s ease;
    font-weight: 500 !important;
    font-size: 18px !important;
    padding: 10px;
    border-radius: 4px;
    text-align: left;
    width: 100%;
    display: block;
}

.nav-link:hover {
    color: #FFD700 !important; /* Muda apenas a cor da fonte no hover */
}

.main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.container {
    max-width: 1200px !important;
    margin: 0 auto !important;
    padding: 15px 15px !important;
}

section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    color: #28334f;
    margin-bottom: 15px;
}

video {
    border-radius: 8px;
    margin-top: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .hamburger {
        display: flex;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }
}
